<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-left brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1 class="h1-seo">Nanofinans</h1>
                <h3>Sammenlign billigste lånet</h3>
                <h3>Lån fra 10 000 - 500 000 kroner</h3>


                <h5><i class="now-ui-icons ui-1_check"></i> 1 søknad - opptil 15 långivere</h5>
                <h5><i class="now-ui-icons ui-1_check"></i> Du får svar innen kort tid</h5>
                <h5><i class="now-ui-icons ui-1_check"></i> 100% kostnadsfritt og uforpliktende</h5>
                <h5><i class="now-ui-icons ui-1_check"></i> Nanofinans markedsfører Axo Finans sin tjeneste, en
                    <br>finansagent for ulike långivere</h5>
            </div>

            <div class="content-right brand">
                <app-wizard></app-wizard>
            </div>

        </div>
    </div>

    <div class="main">
        <div class="section section-images">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-images-container">
                            <img src="assets/img/hero-image-1.png" alt="">
                        </div>
                        <div class="hero-images-container-1">
                            <img src="assets/img/hero-image-2.png" alt="">
                        </div>
                        <div class="hero-images-container-2">
                            <img src="assets/img/hero-image-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Sånn fungerer det</h2>
                        <h5 class="description">Nanofinans markedsfører Axo Finans sin tjeneste, en finansagent som
                            formidler søknaden din til 15 långivere. På den måten konkurrerer flere långivere om å få
                            deg som kunde. Det sikrer deg den beste renten og de beste vilkårene. Det er helt
                            uforpliktet å be om tilbud, og det tar bare 2 min. å fylle ut søknaden. Du vil motta ditt
                            første tilbud innen kort tid.
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>

                <div class="row h_work_inner">
                    <div class="col-sm-4 col-xs-6">
                        <div class="h_work_item">
                            <div class="h-round">
                                <i class="now-ui-icons business_bulb-63"></i>
                            </div>
                            <h3 class="h-title">Ansøg om lån</h3>
                            <p>Fyll ut din søknad. Du søker 100% sikkert på en krypteret forbindelse.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="h_work_item">
                            <div class="h-round">
                                <i class="now-ui-icons business_chart-bar-32"></i>
                            </div>
                            <h3 class="h-title">Vent på behandling</h3>
                            <p>Med bare 1 søknad behandler flere långivere søknaden din.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="h_work_item">
                            <div class="h-round">
                                <i class="now-ui-icons business_money-coins"></i>
                            </div>
                            <h3 class="h-title">Modtag Tilbud</h3>
                            <p>Du får det beste tilbudet. Tilbudet er uforpliktende og kostnadsfritt.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="section section-contact-us text-center" data-background-color="black">
            <div class="container">
                <h2 class="title">Har du spørgsmål?</h2>
                <p class="description">Du er velkommen til at kontakte os omkring spørgsmål.</p>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Indtast dit navn" (focus)="focus=true"
                                (blur)="focus=false">
                        </div>
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Indtast Email" (focus)="focus1=true"
                                (blur)="focus1=false">
                        </div>
                        <div class="textarea-container">
                            <textarea class="form-control" name="name" rows="4" cols="80"
                                placeholder="Beskriv dit spørgsmål..."></textarea>
                        </div>
                        <div class="send-button">
                            <a href="#" class="btn btn-primary btn-round btn-block btn-lg">Send Besked</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a>
                                Stormeal
                            </a>
                        </li>
                        <li>
                            <a>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a>
                                Blog
                            </a>
                        </li>
                        <li>
                            <a>
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    <a target="_blank">Invision</a>. Coded by
                    <a target="_blank">Alex Storm</a>.
                </div>
            </div>
        </footer>
    </div>